EXPO_PUBLIC_API_BASE_URL=https://payshield-lime.vercel.app
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=payshield_pro
EXPO_PUBLIC_DEMO_MODE=false
EAS_PROJECT_ID=
